<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <title>Crisp App Transformation</title>
    <link rel="stylesheet" href='/static/style.css' />
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <h1>Welcome to the Crisp Transformation App</h1>
        <h3>Follow the Steps Below for Transformation</h3>
        <h4>1) Select .csv input data file</h4>
        <input type="file" name="input_data_file">
        <h4>2) Select .yml input crisp config file</h4>
        <input type="file" name="crisp_config_yaml_file">
        <p></p>
        <h4>3) Upload both input files for transformation</h4>
        <input type="submit" value="Upload">
    </form>
</div>
{% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="{{category}}">Error: {{ message }}</div>
{% endfor %}
</body>
</html>