<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <title>Crisp App Transformation Results</title>
</head>
<body>
    <h2>Input data uploaded successfully</h2> 
    <p>Input data file name: {{input_data_file_name}}</p> 
    <p>Input data file dimensions (rows, columns): {{input_data_file_shape}}</p> 
    <h2>Input config file uploaded successfully</h2> 
    <p>Input config file name: {{crisp_config_yaml_file_name}}</p> 
    <h2>4) Display first 20 results from transformed data</h2>
    <p>Transformed data dimensions (rows, columns): {{transformed_data_shape}}</p> 
    {% block content %}
    {{data | safe}}
    {% endblock %}
</body>
</html>