<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <title>Crisp App Upload</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <h2>1) Select .csv input data file</h2>
        <input type="file" name="input_data_file">
        <h2>2) Select .yml input config file</h2>
        <input type="file" name="config_yaml_file">
        <p></p>
        <h2>3) Upload both input files</h2>
        <input type="submit" value="Upload">
    </form>
</body>
</html>